<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-sm-3 col-md-2 fixed-column sidebar">
      <ul class="nav nav-sidebar">
        <li>
          {{#link-to 'front-page'}}
            Front Page Stories
            <span class="sr-only">(Front Page Stories)</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'ask-hn'}}
            Ask HN <span class="sr-only">(Ask HN)</span>
          {{/link-to}}
        </li>
      </ul>
    </div>

    {{outlet}}
  </div>
</div>
